<div class="mb-3">
    <i class="far fa-calendar-alt"></i>&nbsp;{{- .Date.Format "Jan 2, 2006" -}}&nbsp;
    | <i class="fa fa-folder-open" title="Categories" aria-hidden="true"></i>&nbsp;
    {{ range $i, $e := .Params.categories }}
      {{ if $i }}, {{ end }}
      <a href='categories/{{ (replace $e "#" "%23") | urlize }}/'>{{ $e }}</a>
    {{ end }}
    | <i class="fa fa-tags" title="Tags" aria-hidden="true"></i>&nbsp;
    {{ range $i, $e := .Params.tags }}
      {{ if $i }}, {{ end }}
      <a href='/tags/{{ (replace $e "#" "%23") | urlize }}/'>{{ $e }}</a>
    {{ end }}

    {{ if .Params.series }}
      | <i class="fa fa-book" title="Series" aria-hidden="true"></i>&nbsp;
      {{ range $i, $e := .Params.series }}
        {{ if $i }}, {{ end }}
        <a href='/series/{{ (replace $e "#" "%23") | urlize }}/'>{{ $e }}</a>
      {{ end }}<br/>
    {{ end }}
</div>
