<div style="display: flex; justify-content: space-between;" class="container">
  {{ if .Params.series }}
  {{ $title := .Params.Title }}
  {{ $same_series := where (where $.Site.Pages "Params.series" "!=" nil) "Params.series" "intersect" .Params.series }}
  {{ range $i, $e := $same_series }}
  {{ if eq $title $e.Params.title }}
  {{ $prev := index $same_series (add $i 1) }}
  {{ if $prev }}
  <span class="col">
    <i class="fas fa-arrow-left" title="Left" aria-hidden="true"></i>&nbsp;
    <a hreflang="{{ $.Site.Language }}" href="{{$prev.Permalink}}">{{ $prev.Params.title }}</a>
  </span>
  {{ end }}

  {{ $next := index $same_series (sub $i 1) }}
  {{ if $next }}
  <span class="col">
    <a hreflang="{{ $.Site.Language }}" href="{{$next.Permalink}}">{{ $next.Params.title }}</a>&nbsp;
    <i class="fas fa-arrow-right" title="Right" aria-hidden="true"></i>
  </span>
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
</div>